<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Galaxy_Buds_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Galaxy_Buds_Client.Properties.Settings>
            <setting name="RegisteredDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="UseFahrenheit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableSlideTransition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DevModeWarningShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkippedUpdate" serializeAs="String">
                <value />
            </setting>
            <setting name="RegisteredDeviceModel" serializeAs="String">
                <value>Buds</value>
            </setting>
            <setting name="MinimizeTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LeftCustomActionParameter" serializeAs="String">
                <value />
            </setting>
            <setting name="RightCustomActionParameter" serializeAs="String">
                <value />
            </setting>
            <setting name="LeftCustomAction" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RightCustomAction" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResumePlaybackOnSensor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectionPopupEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConnectionPopupCompact" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectionPopupPosition" serializeAs="String">
                <value>BottomRight</value>
            </setting>
        </Galaxy_Buds_Client.Properties.Settings>
    </userSettings>
</configuration>
