<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="InTheHand.Net.Personal">
      <section name="BluetoothFactory" type="InTheHand.Net.Bluetooth.BluetoothFactorySection, InTheHand.Net.Personal" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!-- -->
  <InTheHand.Net.Personal>
    <BluetoothFactory reportAllErrors="false" oneStackOnly="true">
    </BluetoothFactory>
  </InTheHand.Net.Personal>
  <!-- -->
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.log"/>
      </listeners>
    </trace>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
